.header
  = render "products/header"
- if @category.root?
  - breadcrumb :parent_category
- elsif @category.has_children?
  - breadcrumb :child_category
- else
  - breadcrumb :grandchild_category
= render "layouts/breadcrumbs"
.main
  .showMain
    .contentLeft
    .contentRight
      .titleBox
        = "#{@category.name}の商品一覧"
      .productLists
        %ul.productList
          = render partial:'products/product', collection: @products

%aside.appBanner
  = render 'products/aside'
.footer
  = render 'products/footer'
.purchase-link
  =render 'products/purchase-btn'
