%ul.nav-category__lists
  %li.category-list
    =link_to "/",class:"list-link" do
      トップページ
  %li.category-list
    =icon("fas","angle-right")
  - if @category_parent.present?
    %li.category-list
      =link_to category_path(@category_parent.id),class:"list-link" do
        = "#{@category_parent.name}"
    %li.category-list
      =icon("fas","angle-right")
  -if @category_child.present?
    %li.category-list
      =link_to category_path(@category_child.id),class:"list-link" do
        = "#{@category_child.name}"
    %li.category-list
      =icon("fas","angle-right")
  %li.category-list
    =link_to category_path(@category_grandchild.id),class:"list-link" do
      = "#{@category_grandchild.name}"
  %li.category-list
    =icon("fas","angle-right")
  %li.category-list
    = @product.name