.header__inner
  .header-main
    .logo-furima
      =link_to root_path ,class:"logo-furima__link" do
        =image_tag "logo.png", class:"logo-furima-image"
    .search-box
      = search_form_for(@q, url: search_products_path, local: true, method: :get, class: "search-box-form") do |form|
        .search-box-form__input
          = form.search_field :name_or_content_cont_all, placeholder: "キーワードから探す", class: "search-box__form"
          = button_tag type: 'submit',class:"search-box__btn" do
            .search-box-icon
              =image_tag 'icon-search 1.png', class: "search-box-icon-image"
  .header-nav
    %ul.list-left
      %li.list-left__category
        .categories
          %ul
            %li
            =link_to categories_path, class: "category-link" do
              カテゴリー
            %ul.category__parent.category__list
              - @parents.each do |parent|
                %li
                  = link_to category_path(parent.id), class: "category__parent--name" do
                    = parent.name
                  %ul.category__child.category__list
                    - parent.children.each do |child|
                      %li
                        = link_to category_path(child.id), class: "category__child--name" do
                          = child.name
                        %ul.category__grandchild.category__list
                          - child.children.each do |grandchild|
                            %li
                              = link_to category_path(grandchild.id), class: " category__child--name" do
                                = grandchild.name
      %li.list-left__brand
        =link_to "#", class: "brand-link" do
          ブランド
    - if user_signed_in?
      %ul.list-right
        %li.list-right__sign-in
          = link_to user_path(current_user), data: {"turbolinks" => false}, class: "list-right__sign-in-link" do
            マイページ
        %li.list-right__sign-in
          = link_to destroy_user_session_path, method: :delete, class: "list-right__sign-out" do
            ログアウト
        %li.list-right__sign-in
          = image_tag "member_photo_noimage_thumb.png", class: "list-right__sign-icon"
        %li.list-right__sign-in
          = current_user.nickname
    - else
      %ul.list-right
        %li.list-raight__sign-in
          = link_to new_user_session_path, class:"list-right__sign-in-link" do
            ログイン
        %li.list-right__new-registration
          = link_to new_user_registration_path, class: "list-right__new-registration-link" do
            新規会員登録
