.header
  = render 'header'
.main
  = render 'search_drop'
  .showMain
    .contentLeft
    .contentRight
      -if @products.present?
        .titleBox
          = "検索結果"
          %br
          = "#{@products.count}件表示"
        .productLists
          %ul.productList
            = render partial:'product', collection: @products
      - else
        .titleBox
          = "検索の商品はありません"


%aside.appBanner
  = render "aside"
.footer
  = render 'footer'
.purchase-link
  =render 'purchase-btn'