.header
  =render "header"
%nav.nav-category
  =render "breadcrumb"
.main
  .show-main
    .show-main__product-show
      .product-name
        %h2= @product.name
      .product-image
        .image-main
          - if @product.buyer_id.present?
            .products-box_photo__sold
              .products-box_photo__sold__inner SOLD
          -if @images[0].present?
            .image-main-tag.show
              = image_tag @images[0].src.url, class: "product-image-tag"
          -if @images[1].present?
            .image-main-tag.not-show
              = image_tag @images[1].src.url, class: "product-image-tag"
          -if @images[2].present?
            .image-main-tag.not-show
              = image_tag @images[2].src.url, class: "product-image-tag"
          -if @images[3].present?
            .image-main-tag.not-show
              = image_tag @images[3].src.url, class: "product-image-tag"
          -if @images[4].present?
            .image-main-tag.not-show
              = image_tag @images[4].src.url, class: "product-image-tag"

        .image_box
          .image-sub
            - if @images[0].present?
              .image-sub-list.active
                = image_tag @images[0].src.url, class:"product-image-list"
            - if @images[1].present?
              .image-sub-list
                = image_tag @images[1].src.url, class:"product-image-list"
            -if @images[2].present?
              .image-sub-list
                = image_tag @images[2].src.url, class:"product-image-list"
            -if @images[3].present?
              .image-sub-list
                = image_tag @images[3].src.url, class:"product-image-list"
            -if @images[4].present?
              .image-sub-list
                = image_tag @images[4].src.url, class:"product-image-list"

      .product-price
        .price
          ¥
          = @product.price.to_s(:delimited)
          %span.tax (税込)
        .shpping_fee
          %span 送料：
          %span
            = @product.delivery_fee
      .product-content
        = simple_format(@product.content)
      %table.product-detail
        %tbody.product-detail__body
          %tr.detail-record
            %th.detail-left 出品者
            %td.detail-right= @user.nickname
          %tr.detail-record
            %th.detail-left カテゴリー
            - if [46, 74, 134, 142, 147, 150, 158].include?(@category_id)
              %td.detail-right
                = link_to "#{@category_child.name}",category_path(@category_child.id)
                %br= link_to "#{@category_grandchild.name}","#"
            -else
              %td.detail-right
                = link_to "#{@category_parent.name}",category_path(@category_parent.id)
                %br= link_to "#{@category_child.name}",category_path(@category_child.id)
                = link_to "#{@category_grandchild.name}",category_path(@category_grandchild.id)
          %tr.detail-record
            %th.detail-left ブランド
            %td.detail-right= @product.brand
          %tr.detail-record
            %th.detail-left 商品のサイズ
            %td.detail-right
          %tr.detail-record
            %th.detail-left 商品の状態
            %td.detail-right= @product.condition
          %tr.detail-record
            %th.detail-left 発送料の負担
            %td.detail-right= @product.delivery_fee
          %tr.detail-record
            %th.detail-left 発送元の地域
            %td.detail-right= @product.send_from
          %tr.detail-record
            %th.detail-left 発送日の目安
            %td.detail-right= @product.delivery_date
      .product-option
        .item-button-container
          .item-button-container__left
            = render partial: "likes/like", locals: { product: @product, products: @products, likes: @likes, like: @like}

        %ul.product-option__report
          %li.option-report
          = link_to "#", class:"option-report__link" do
            = icon("fas","flag")
            不適切な商品の通報
    .show-main__editDeleteBuy
      .editDeleteBuy__btn
        - if user_signed_in? && current_user.id == @user.id
          .edit-product-btn
            = link_to "商品の編集", edit_product_path(@product.id), data: {"turbolinks" => false} , class: "edit"
          .delete-product-btn
            = link_to "商品の削除", product_path(@product.id), method: :delete, class: "destory"
        - elsif user_signed_in? && @product.buyer_id.present?
          .disabled-priduct-btn
          = link_to  "売り切れました", product_path(@product.id), class:"disabled-btn"
        - elsif user_signed_in?
          .buy-product-btn
            = link_to "購入画面に進む", buy_product_purchases_path(@product.id), data: {"turbolinks" => false} , class: "pay"
        - else
    .show-main__comment-show
      .comment-form
        %input{type: "textarea", class: "comment-form__input"}
        %p.comment-form__notice
          相手のことを考え丁寧なコメントを心がけましょう。
          %br/
          不快な言葉遣いなどは利用制限や退会処分となることがあります。
        - if @product.buyer_id.present?
          %button{name: "button", type: "submit", class: "comment-form__btn-disabled"}
            =icon("fas","comment")
            売り切れのためコメント出来ません
        - else
          %button{name: "button", type: "submit", class: "comment-form__btn"}
            =icon("fas","comment")
            コメントする
      .comment-area
    .show-main__links
      %ul.links-list
        %li
          =link_to "#", class: "previous-page" do
            =icon("fas", "angle-left")
            前の商品
        %li
          =link_to "#", class: "next-page" do
            =icon("fas","angle-right")
            後ろの商品
    .show-main__related-items
      - if [46, 74, 134, 142, 147, 150, 158].include?(@category_id)
        =link_to "#{@category_child.name}をもっと見る", category_path(@category_child.id), class:"related-items-link"
      - else
        = link_to "#{@category_parent.name}をもっと見る", category_path(@category_parent.id), class: "related-items-link"
      .related-items-list
        = render partial:'product', collection: @products
        
%aside.appBanner
  = render 'aside'
.footer
  = render 'footer'
.purchase-link
  =render 'purchase-btn'