.header
  =render "header"
%nav.nav-category
  %ul.nav-category__lists
    %li.category-list
      =link_to "#",class:"list-link" do
        FURIMA
    %li.category-list
      =icon("fas","angle-right")
    %li.category-list
      =link_to "#",class:"list-link" do
        ベビー・キッズ
    %li.category-list
      =icon("fas","angle-right")
    %li.category-list
      =link_to "#",class:"list-link" do
        ベビー服(男女兼用) ~95cm
    %li.category-list
      =icon("fas","angle-right")
    %li.category-list
      =link_to "#",class:"list-link" do
        アウター
    %li.category-list
      =icon("fas","angle-right")
    %li.category-list
      =link_to "#", class:"list-link" do
        product 3
.main
  .show-main
    .show-main__product-show
      .product-name
        product exp
      .product-image
        %ul.image-main
          %li.image-main-tag
            = image_tag "thumb_test_image.jpg", alt: "product", class: "product-image-tag"
            %ul.image-sub
              %li.image-sub-list
                = image_tag "thumb_test_image.jpg", alt:"product2", class: "product-image-list", height: "87px"
              %li.image-sub-list
                = image_tag "thumb_test_image.jpg", alt:"product3", class: "product-image-list",height: "87px"
              %li.image-sub-list
                = image_tag "thumb_test_image.jpg", alt:"product4", class: "product-image-list",height: "87px"
      .product-price
        %span.price ¥50,0000
        .product-price__detail
          %span.tax (税込)
          %span.shiippin-fee 送料込み
      .product-content
        あくまでテストです。
      %table.product-detail
        %tbody.product-detail__body
          %tr.detail-record
            %th.detail-left 出品者
            %td.detail-right hoge
          %tr.detail-record
            %th.detail-left カテゴリー
            %td.detail-right ベビー・キッズ
          %tr.detail-record
            %th.detail-left ブランド
            %td.detail-right
          %tr.detail-record
            %th.detail-left 商品のサイズ
            %td.detail-right
          %tr.detail-record
            %th.detail-left 商品の状態
            %td.detail-right 未使用に近い
          %tr.detail-record
            %th.detail-left 発送料の負担
            %td.detail-right 送料込み(出品者負担)
          %tr.detail-record
            %th.detail-left 発送元の地域
            %td.detail-right 岩手県
          %tr.detail-record
            %th.detail-left 発送日の目安
            %td.detail-right 4~7日で発送
      .product-option
        %ul.product-option__favorite
          %li.option-favorite
            = icon("fas","star")
            お気に入り
        %ul.product-option__report
          %li.option-report
          = link_to "#", class:"option-report__link" do
            = icon("fas","flag")
            不適切な商品の通報
    .show-main__comment-show
      .comment-form
        %input{type: "textarea", class: "comment-form__input"}
        %p.comment-form__notice
          相手のことを考え丁寧なコメントを心がけましょう。
          %br/
          不快な言葉遣いなどは利用制限や退会処分となることがあります。
        %button{name: "button", type: "submit", class: "comment-form__btn"}
          =icon("fas","comment")
          コメントする
      .comment-area
    .show-main__links
      %ul.links-list
        %li
          =link_to "#", class: "previous-page" do
            =icon("fas", "angle-left")
            前の商品
        %li
          =link_to "#", class: "next-page" do
            =icon("fas","angle-right")
            後ろの商品
    .show-main__related-items
      =link_to "#", class:"related-items-link" do
        ベビー・キッズをもっと見る
      .related-items-list
        .related-item
          =link_to "#", class: "related-item-link" do
            %figure.related-item-image-field
              =image_tag "thumb_test_image.jpg", alt:"related-item", class: "related-item-image"
            .related-item-body
              neko
            .related-item-detail
              %ul.detail-list
                %li.price
                  ¥50,000
                %li.favorite
                  =icon("fas","star")
                  0
              %p.tax (税込)
%aside.appBanner
  = render 'aside'
.footer
  = render 'footer'
.purchase-link
  =render 'purchase-btn'