.header
  =render "header"
%nav.nav-category
  %ul.nav-category__lists
    %li.category-list
      =link_to "/",class:"list-link" do
        FURIMA
    %li.category-list
      =icon("fas","angle-right")
    %li.category-list
      =link_to "#",class:"list-link" do
        ベビー・キッズ
    %li.category-list
      =icon("fas","angle-right")
    %li.category-list
      =link_to "#",class:"list-link" do
        ベビー服(男女兼用) ~95cm
    %li.category-list
      =icon("fas","angle-right")
    %li.category-list
      =link_to "#",class:"list-link" do
        アウター
    %li.category-list
      =icon("fas","angle-right")
    %li.category-list
      =link_to "#", class:"list-link" do
        product 3
.main
  .show-main
    .show-main__product-show
      .product-name
        %h2= @product.name
      .product-image
        %ul.image-main
          %li.image-main-tag
            = image_tag @images_first.src.url, class: "product-image-tag"
            .image__box
              %ul.image-sub
                %li.image-sub-list
                - @images.each do |img|
                  %li.image-sub-list
                    = image_tag img.src.url, class: "product-image-list",height: "87px"
      .product-price
        .price
          ¥
          = @product.price.to_s(:delimited)
        .product-price__detail
          %span.tax (税込)
      .product-content
        = @product.content
      %table.product-detail
        %tbody.product-detail__body
          %tr.detail-record
            %th.detail-left 出品者
            %td.detail-right= @user.nickname
          %tr.detail-record
            %th.detail-left カテゴリー
            - if [46, 74, 134, 142, 147, 150, 158].include?(@category_id)
              %td.detail-right
                = link_to "#{@category_child.name}","#"
                %br= link_to "#{@category_grandchild.name}","#"
            -else
              %td.detail-right
                = link_to "#{@category_parent.name}","#"
                %br= link_to "#{@category_child.name}","#"
                = link_to "#{@category_grandchild.name}","#"
          %tr.detail-record
            %th.detail-left ブランド
            %td.detail-right= @product.brand
          %tr.detail-record
            %th.detail-left 商品のサイズ
            %td.detail-right
          %tr.detail-record
            %th.detail-left 商品の状態
            %td.detail-right= @product.condition
          %tr.detail-record
            %th.detail-left 発送料の負担
            %td.detail-right= @product.delivery_fee
          %tr.detail-record
            %th.detail-left 発送元の地域
            %td.detail-right= link_to "#{@product.send_from}","#"
          %tr.detail-record
            %th.detail-left 発送日の目安
            %td.detail-right= @product.delivery_date
      .product-option
        %ul.product-option__favorite
          %li.option-favorite
            = icon("fas","star")
            お気に入り
        %ul.product-option__report
          %li.option-report
          = link_to "#", class:"option-report__link" do
            = icon("fas","flag")
            不適切な商品の通報
    .show-main__editDeleteBuy
      - if current_user == @user
        = link_to "商品の編集", edit_product_path(@product.id), data: {"turbolinks" => false} , class: "edit"
        = link_to "商品の削除", product_path(@product.id), method: :delete, class: "destory"
      - elsif user_signed_in?
        = link_to "購入画面に進む", data: {"turbolinks" => false} , class: "pay"
      - else
    .show-main__comment-show
      .comment-form
        %input{type: "textarea", class: "comment-form__input"}
        %p.comment-form__notice
          相手のことを考え丁寧なコメントを心がけましょう。
          %br/
          不快な言葉遣いなどは利用制限や退会処分となることがあります。
        %button{name: "button", type: "submit", class: "comment-form__btn"}
          =icon("fas","comment")
          コメントする
      .comment-area
    .show-main__links
      %ul.links-list
        %li
          =link_to "#", class: "previous-page" do
            =icon("fas", "angle-left")
            前の商品
        %li
          =link_to "#", class: "next-page" do
            =icon("fas","angle-right")
            後ろの商品
    .show-main__related-items
      - if [46, 74, 134, 142, 147, 150, 158].include?(@category_id)
        =link_to "#{@category_child.name}をもっと見る", "#", class:"related-items-link"
      - else
        = link_to "#{@category_parent.name}をもっと見る", "#", class: "related-items-link"
      .related-items-list
        .related-item
          =link_to "#", class: "related-item-link" do
            %figure.related-item-image-field
              = image_tag @images_first.src.url, alt:"related-item", class: "related-item-image",height: "87px"
            .related-item-body
              = @product.name
            .related-item-detail
              %ul.detail-list
                %li.price
                  ¥
                  = @product.price.to_s(:delimited)
                %li.favorite
                  =icon("fas","star")
                  0
              %p.tax (税込)
%aside.appBanner
  = render 'aside'
.footer
  = render 'footer'
.purchase-link
  =render 'purchase-btn'